@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1D3E23;
}
h1{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
}
h1 span{
    position: relative;
    color: #BD53ED;
}
h1 span::before{
    content: '';
    right: -8px;
    top: 50%;
    position: absolute;
    height: 45px;
    width: 2px;
    background-color: #BD53ED;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50%{
        opacity: 0;
    }
}
